body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator-body{
    box-sizing: border-box;
    width: 20rem;
    height: 30rem;
    padding: 1rem;
    background-color: rgb(190, 199, 207);
    border-radius: 1rem;
}

.display{
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 2rem;
    padding-top: 1rem;
    height: 4rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.5rem;
    font-family: monospace;
}

.keypad{
    box-sizing: border-box;
    height: calc(30rem - 7rem);
    background-color: rgb(190,199,207);
    border-radius: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.key{
    display: flex;
    box-sizing: border-box;
    height: calc((30rem - 7rem - 4rem) / 5);
    width: calc((20rem - 2rem - 3rem) / 4);
    background-color: white;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-family: monospace;
    touch-action: manipulation;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.key:hover{
    transition: background-color 0.3s ease;
    background-color: rgb(92, 144, 178);
    cursor: pointer;
    color: white;
}